<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
.pesquisar-btn {
  background-color: #0e3e67 !important;
  color: #e4e4e4 !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.pesquisar-btn:hover{
  background-color: #0e3e67 !important;
  color: #e4e4e4 !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.novo-btn {
  background-color: #0e3e67 !important;
  color: #e4e4e4 !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.novo-btn:hover{
  background-color: #0e3e67 !important;
  color: #e4e4e4 !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.voltar-btn {
  background-color: #e4e4e4 !important;
  color: #0e3e67 !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.voltar-btn:hover{
  background-color: #e4e4e4 !important;
  color: #0e3e67 !important;
  border: solid;
  border-width: thin;
  border-color: #ccc;
}

.sort-col-table {
  border-top: none !important;
}

.header-col-table {
  border-bottom: none !important;
}

td{
  word-break:break-all;
}

.md-inputfield {
  margin-bottom: 10px;
}

.topbar-title {
  font-size: x-large;
  color: #ffffff;
}

.total-registro {
  text-align: center;
}

.btn-table{
  margin: auto;
  display: grid;

}

.word-break {
  word-break:break-all;
}

.labeled-dropdown {
  position: relative;
}

.labeled-dropdown .float-label {
  top: 1px;
  left: 5px;
  position: absolute;
  color: #999;
}

.labeled-dropdown.filled .float-label {
  top: -20px;
  font-size: 12px;
  color: #0e3e67 !important;
}

.alinha-top{
  margin-top: 15px;
}

.alinha-top-table-analise{
  margin-top: 25px;
}

.alinha-top-composicao{
  margin-top: 17px;
}

.alinha-top-cota{
  margin-top: 20px;
}

.alinha-top-30{
  margin-top: 30px;
}

.contraste td {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.cota30 {
  color: #b78c1c !important;
  font-weight: bold;
}

.cota10 {
  color: #ca3030 !important;
  font-weight: bold;
}
.width-200 {
  width: 200px;
}

.btn-box{
  width: 200px;
  height: 60px;
  overflow: hidden;
  background-color: #0e3e67;
  color: #ffffff;
  font-size: 1em;
  padding: 0 1em;
  border: 0 none;
  cursor: pointer;
}

.download-link{
  color: #0e3e67 !important;
  cursor: pointer;
}

.top-button {
  justify-content: center;
  display: block;
}

.margin-top-0px{
  margin-top: 0;
}

.padding-0px{
  padding: 0 ;
}

.toolbar-upload .ui-toolbar {
  padding: 0px !important;
}

.fieldset-upload .ui-fieldset-legend {
  padding: 0px !important;
}

.text-align-end{
  text-align: end;
}

.heigth300px{
  height: 300px;
}

.width-3{
  width: 3em
}

.margin-top-30px{
  margin-top: 30px;
}

.pie-chart-size{
  width: 456px;
  height: 228px;
}
.ui-table-caption	{
  background-color: #ffffff !important;
  border: 1px solid #cacaca !important;
}

.padding-initial {
  padding: initial
}

.display-contents {
  display: contents
}

.width-225 {
  width: 225px
}

.form-buttons {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.height-400 {
  height: 400px;
}

.overflow-auto {
  overflow: auto;
}

.label-right {
  display: block;
  text-align: right;
}

.last-div {
  margin-bottom: 50px;
}

.input-span-error {
  margin: 25px 0 0 300px;
}

.position-relative {
  position: relative !important;
}

.display-inline {
  display: inline !important;
}
