<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <h1>Listar Matriculas</h1>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            <span class="md-inputfield">
          <p-calendar dateFormat="dd/mm/yy" showButtonBar="true" (onClearClick)="matricula.dataInicio=null"
                      readonlyInput="true" [(ngModel)]="matricula.dataInicio" name="dataInicio"
                      placeholder="Data Inicio"></p-calendar>
                                <label>Data Inicio</label>
                            </span>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            <span class="md-inputfield">
          <p-calendar dateFormat="dd/mm/yy" showButtonBar="true" (onClearClick)="matricula.dataFim=null"
                      readonlyInput="true" [(ngModel)]="matricula.dataFim" name="dataFinal"
                      placeholder="Data Fim"></p-calendar>
                                <label>Data Fim</label>
                            </span>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-12">
                            <span class="md-inputfield">
          <p-calendar dateFormat="dd/mm/yy" showButtonBar="true" (onClearClick)="matricula.dataRegistro=null"
                      readonlyInput="true" [(ngModel)]="matricula.dataRegistro" name="dataInicio"
                      placeholder="Data Registro"></p-calendar>
                                <label>Data Registro</label>
                            </span>
        </div>


        <div class="ui-g ui-md-11 form-buttons">
          <div class="ui-g-2 ui-md-2 ui-sm-12" >
            <button pButton label="Pesquisar" icon="ui-icon-search"
                    class="pesquisar-btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
                    (click)="getAllMatriculaPesquisar()">
            </button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12" >
            <button class="novo-btn" pButton label="Cadastrar" [routerLink]="['/matricula', acoes.INSERIR]"
                    icon="ui-icon-add">
            </button>
          </div>
        </div>

        <div class="ui-g-11">
          <p-table #dt [columns]="cols" [lazy]="true" [value]="matriculas.content"
                   [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="linhaSelecionada"
                   [responsive]="true" [rowsPerPageOptions]="[10, 30, 50]" [scrollable]="true"
                   [totalRecords]="matriculas.totalElements" (onPage)="getAllDeclaracaoPage()" (onSort)="getAllDeclaracao()">

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup *ngFor="let col of columns">
                <col [ngStyle]="{'width': col.width}">
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" class="header-col-table">
                  {{col.header}}
                  <p-sortIcon [field]="col.sortField != null ? col.sortField : col.field"
                              [pSortableColumn]="col.sortField != null ? col.sortField : col.field"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" class="sort-col-table">
                  <input *ngIf="col.text == true" pInputText type="text" [(ngModel)]="matricula[col.field]">
                  <p-dropdown *ngIf="col.options != null" [options]="col.options"
                              [style]="{'width':'100%'}" [(ngModel)]="matricula[col.field]" appendTo='body'>
                  </p-dropdown>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                  <ng-template [ngIf]="col.type == undefined ">
                    {{ rowData[col.field] }}
                  </ng-template>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  Nenhum registro encontrado
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="total-registro">
            Total de registros: {{matriculas.totalElements}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
